#maze {
    background-color: lightblue;
    width: 1400px;
    height: 525px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.o {
    background-color: lightgreen;
    flex-basis: 25px;

}

.x{
    background-color: blue;
    flex-basis: 25px;

}

#penguin {
    width: 25px;
    height: 25px;
    position: absolute;
}

.fish{
    width: 20px;
    height: 20px;
    position: absolute;
    
}

.hidden {
    visibility: hidden;
    max-height: 0;
}

#congratsMessage{
    display: none;
}

#gameOverMessage{
    display: none;
}