#maze {
    background-color: lightblue;
    width: 1400px;
    height: 525px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    margin-top: 35px;
}

.o {
    flex-basis: 25px;
    background-color: #DDDCD6;
}

.x {
    background: linear-gradient(to bottom, #7bb7cc, #5a92a9);
    flex-basis: 25px;
}

#penguin {
    width: 25px;
    height: 25px;
    position: absolute;
}

.fish {
    width: 25px;
    height: 25px;
    position: absolute;
}

.iceTrap {
    width: 25px;
    height: 25px;
    position: absolute;
}

.bear {
    width: 25px;
    height: 25px;
    position: absolute;
}

.hidden {
    visibility: hidden; 
    max-height: 0;
}

#congratsMessage {
    display: none;
}

#gameOverMessage {
    display: none;
}

#fallIceTrapMessage {
    display: none;
}

#meetBearMessage {
    display: none;
}

#finalScore {
    display: none;
}

header {
    background: linear-gradient(to bottom, #e0f7fa, #b2ebf2);
    border: 5px solid #81d4fa;
    border-radius: 15px;
    padding: 20px 30px;
    color: #01579b;
    width: 1300px;
    display: flex;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #632f1d;
    gap: 8px;
    margin-top: 30px;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 10px;
}

#messageContainer {
    position: fixed;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#messageContainer div {
    background: darkblue;
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 3.0rem;
    display: none;
    width: 1000px;
    text-align: center;
    margin-bottom: 25px;
}


.btn {
    background-color: #ba23bd;
    border: none;
    color: white;
    padding: 15px 26px;
    font-size: 2rem;
    border-radius: 12px;
}

.btn.pressed {
    transform: translateY(2px);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.4);
    transition: transform 0.1s ease;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 30, 30, 0.3);
    backdrop-filter: blur(5px);
    z-index: 100;
    display: none;
}

#gameTitle{
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #291e9b;
    margin-top: 10px;
    text-align: center;

}